[submodule "git2changelog"]
	path = build/cmake/platform/unix/support/package/rpm/changelog/git2changelog
	url = https://github.com/vookimedlo/git2changelog
	branch = python3
[submodule "components/KDMacTouchBar"]
	path = components/KDMacTouchBar
	url = https://github.com/vookimedlo/KDMacTouchBar
	branch = qt6
[submodule "components/kimageformats"]
	path = components/kimageformats
	url = https://github.com/KDE/kimageformats
