# Backups
*~
*#

# MacOS
.DS_Store

# Build dirs
build/build*
build/qmake/build*
build/cmake/platform/windows/build
build/cmake/platform/windows/support/application.aps
build/cmake/platform/windows/support/package/SourceDir
build/cmake/platform/mac/build
build/cmake/platform/mac/package
**/cmake-build-*

# CLion
.idea

# User settings
*.user
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.msi

# Installer
*.wixobj
*.wixpdb
*.dmg
*.7z
*.zip
*.deb
*.rpm
*.srpm
*.rb

# DEB packages
Makefile
debian/files
debian/debhelper-build-stamp
debian/.debhelper/
debian/vookiimageviewer/
debian/vookiimageviewer.substvars
build-deb/

build/cmake/platform/unix/support/package/rpm/vookiimageviewer-patched.spec
build/cmake/platform/unix/support/package/rpm/git2changelog.py
build/cmake/platform/unix/support/package/rpm/git2changelog
build/cmake/platform/unix/support/package/rpm/git2changelog.pyc
