# Backups
*~
*#

# MacOS
.DS_Store

# Build dirs
build/build*
build/qmake/build*
build/cmake/windows/build
build/cmake/windows/support/application.aps
build/cmake/windows/support/package/SourceDir
build/cmake/mac/build
build/cmake/mac/package
cmake-build-*

# CLion
.idea

# User settings
*.user
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.msi

# Installer
*.wixobj
*.wixpdb
*.dmg

