Source: vookiimageviewer
Section: contrib
Priority: optional
Maintainer: Michal Duda <github@vookimedlo.cz>
Build-Depends: debhelper (>= 10), software-properties-common, g++, gcc, make, cmake, git, qt5-default, qt5-image-formats-plugins, libraw-dev
Standards-Version: 4.1.2
Homepage: https://github.com/vookimedlo/vooki-image-viewer
Vcs-Git: https://github.com/vookimedlo/vooki-image-viewer.git
Vcs-Browser: https://github.com/vookimedlo/vooki-image-viewer

Package: vookiimageviewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: qt5-image-formats-plugins
Description: Cross-platform lightweight image viewer for a fast image preview.
 Lightweight image viewer for a fast image preview. It has been developed to have
 the same viewer available for all major operating systems - Windows 10, MacOS and
 GNU/Linux. 
 .
 The main goal is to have a free of charge cross-platform viewer with a simple design
 and minimum functions which are commonly used.
