name: Linux Builds

on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

jobs:
  ubuntu:
    strategy:
      fail-fast: false
      matrix:
        toolchain: [gcc, clang]
        distribution: [resolute, questing, plucky]
    name: ubuntu ${{matrix.distribution}}
    uses: ./.github/workflows/reusable_linux_build.yml
    with:
      runner: '["ubuntu-latest", "ubuntu-24.04-arm"]'
      toolchain: ${{matrix.toolchain}}
      docker_image: ghcr.io/vookimedlo/ubuntu-qt:qt6_latestdistroofficial_${{ matrix.toolchain }}_${{ matrix.distribution }}
      artifact_name: ubuntu_${{ matrix.distribution }}_${{ matrix.toolchain }}

  debian:
    strategy:
      fail-fast: false
      matrix:
        toolchain: [gcc, clang]
        distribution: [forky, trixie]
    name: debian ${{matrix.distribution}}
    uses: ./.github/workflows/reusable_linux_build.yml
    with:
      runner: '["ubuntu-latest", "ubuntu-24.04-arm"]'
      toolchain: ${{matrix.toolchain}}
      docker_image: ghcr.io/vookimedlo/debian-qt:qt6_latestdistroofficial_${{ matrix.toolchain }}_${{ matrix.distribution }}
      artifact_name: debian_${{ matrix.distribution }}_${{ matrix.toolchain }}

  fedora:
    strategy:
      fail-fast: false
      matrix:
        toolchain: [gcc, clang]
        distribution: [44, 43, 42]
    name: fedora ${{matrix.distribution}}
    uses: ./.github/workflows/reusable_linux_build.yml
    with:
      runner: '["ubuntu-latest", "ubuntu-24.04-arm"]'
      toolchain: ${{matrix.toolchain}}
      docker_image: ghcr.io/vookimedlo/fedora-qt:qt6_latestdistroofficial_${{ matrix.toolchain }}_${{ matrix.distribution }}
      artifact_name: fedora_${{ matrix.distribution }}_${{ matrix.toolchain }}
