name: MacOS Builds

on: 
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-12

    steps:
    - name: checkout 
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: pwd
      run: pwd
    - name: brew
      run: |
        brew update
        brew install qt
        brew link --force qt
    - name: build sources
      run: |
        WORKDIR=`pwd`
        cd ..
        cmake -DCMAKE_BUILD_TYPE=Release -H. -Bbuild $WORKDIR/build/cmake
        cd build
        make -j install
        ls -l
        cd ..
