name: MacOS Builds

on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-26

    steps:
    - name: checkout
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: pwd
      run: pwd
    - name: brew
      run: |
        brew update
        brew upgrade || true
        brew install pkg-config m4 libtool automake autoconf
        brew install coreutils
        brew install qt
        brew link --force qt
    - name: build sources
      run: |
        WORKDIR=`pwd`
        cd ..
        cmake -DCMAKE_BUILD_TYPE=Release -DAPPLE_FAT_ARCH=OFF -DBUILD_DEPENDENCIES=ON -H. -Bbuild $WORKDIR
        cd build
        make -j
        gls -Q | grep -v EPs | xargs rm -rf
        cd ..
        echo "==============================================="
        cmake -DCMAKE_BUILD_TYPE=Release -DAPPLE_FAT_ARCH=OFF -H. -Bbuild $WORKDIR
        cd build
        make -j install
        ls -l
        cd ..
