name: MacOS Builds

on:
  workflow_dispatch:
  workflow_call:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-15

    steps:
    - name: checkout
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: pwd
      run: pwd
    - name: brew
      run: |
        brew update
        brew upgrade || true
        brew install pkg-config m4 libtool automake autoconf
        brew install coreutils
        brew install qt
        brew link --force qt
    - name: build sources
      run: |
        cmake -DCMAKE_BUILD_TYPE=Release -DAPPLE_FAT_ARCH=OFF -H. -Bbuild
        cmake --build build --config Release --target install
        ls -l build
